/*黑幕效果，使用class: heimu;就可以了*/
span.heimu a.external,span.heimu a.external:visited,span.heimu a.extiw,span.heimu a.extiw:visited {
    color: #252525; 
}

.heimu,.heimu a,a .heimu,.heimu a.new { 
    background-color: #252525; 
    color: #252525; 
    text-shadow: none; 
}

body:not(.heimu_toggle_on) .heimu:hover,body:not(.heimu_toggle_on) .heimu:active,body:not(.heimu_toggle_on) .heimu.off { 
    transition: color .13s linear; 
    color: #ffffff; 
}

body:not(.heimu_toggle_on) .heimu:hover a,body:not(.heimu_toggle_on) a:hover .heimu,body:not(.heimu_toggle_on) .heimu.off a,body:not(.heimu_toggle_on) a:hover .heimu.off { 
    transition: color .13s linear; 
    color: #add8e6; 
}

/*以下为提示框效果，建议在<p>标签或<div>标签上使用*/
.x_border {
    border-top: 1px solid #cccccc; 
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-radius: 9px;
    margin-bottom: 30px;
    padding: 20px;
}

.tips_x {
    border-left:6px solid #21f325;
    background-color: #ecffeb;
}

.info_x {
    border-left:6px solid #2196F3;
    background-color: #ebffff;
}

.advice_x {
    border-left:6px solid #ffab19;
    background-color: #ffe6ba;
}

.warn_x {
    border-left:6px solid #f32121;
    background-color: #ffe6e6;
}