/*正文字体修改*/
p:not(.ai-badge), div.article-content ul, div.customize-info.my-1 {
    font-family: 'Bookerly', 'Source Han Serif SC VF', 'SimSun', Geist Variable, Noto Sans SC, -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial;
    vertical-align: baseline;
}

:root {
    --post-font-family: 'Bookerly', 'Source Han Serif SC VF', 'SimSun', Geist Variable, Noto Sans SC, -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial;
}

div.article-content>p {
    text-indent: 2rem;
}

div.article-content ul {
    margin-left: 2rem;
}

p.post-count {
    font-family: Geist Variable, Noto Sans SC, -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial;
}

.markdown-body p:not(.media-author, .media-translator) {
    margin-top: .55rem !important;
    margin-bottom: .55rem !important;
}

/*定向公告修改*/
div.announcement-outside {
    display: block !important;
}

.home-sidebar-container .sidebar-links .announcement-outside {
    text-align: left !important;
}

.home-sidebar-container .sidebar-links .announcement-outside p {
    margin: .4rem 0;
    text-indent: 2rem;
    text-shadow: 0 0 .5px;
    padding-inline: 4%;
}

/*手机头图上部圆角*/
@media (max-width: 40rem) {
    .sm\:rounded-t-large {
            border-top-left-radius: var(--radius-large);
            border-top-right-radius: var(--radius-large)
        }
}

/*下划线动画*/
h3.home-article-title {
    display: inline-block !important;
    flex: 0 0 auto !important;
}

h3.home-article-title>a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease;
}

h3.home-article-title>a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/*黑幕效果，类名heimu*/
span.heimu a.external,span.heimu a.external:visited,span.heimu a.extiw,span.heimu a.extiw:visited {
    color: #252525; 
}

.heimu,.heimu a,a .heimu,.heimu a.new { 
    background-color: #252525; 
    color: #252525; 
    text-shadow: none; 
}

body:not(.heimu_toggle_on) .heimu:hover,body:not(.heimu_toggle_on) .heimu:active,body:not(.heimu_toggle_on) .heimu.off { 
    transition: color .13s linear; 
    color: #ffffff; 
}

body:not(.heimu_toggle_on) .heimu:hover a,body:not(.heimu_toggle_on) a:hover .heimu,body:not(.heimu_toggle_on) .heimu.off a,body:not(.heimu_toggle_on) a:hover .heimu.off { 
    transition: color .13s linear; 
    color: #add8e6; 
}

/*ai小标签*/
.ai-badge {
  display: inline-block;
  background-color: var(--background-color-transparent-15);
  color: var(--default-text-color);
  padding: 0.1em 0.6em;
  margin: 0 0.3em;
  border-radius: 0.8em;
  font-size: 0.8em;
  border: 0 solid var(--color-gray-200, currentcolor);
  box-shadow: var(--redefine-box-shadow-flat);
  white-space: nowrap; /* 防止换行 */
  font-family: 'Geist Mono', Courier, monospace;
}

.ai-badge i {
  margin-right: 0.3em;
  font-family: "Font Awesome 6 Pro";
  font-style: normal;
}

/*以下为提示框效果，已弃用*/
/*
.x_border {
    border-top: 1px solid rgba(226, 226, 226, 0.3); 
    border-bottom: 1px solid rgba(226, 226, 226, 0.3);
    border-right: 1px solid rgba(226, 226, 226, 0.3);
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 20px;

    box-shadow: var(--redefine-box-shadow-flat);
}

.tips_x {
    border-left:6px solid #21f325;
    background-color: #ecffeb;
}

.info_x {
    border-left:6px solid #2196F3;
    background-color: #ebffff;
}

.advice_x {
    border-left:6px solid #ffab19;
    background-color: #fff8eb;
}

.warn_x {
    border-left:6px solid #f32121;
    background-color: #ffeeee;
}


.markdown-body p {
    margin-bottom: 0.5rem !important;
    margin-top: 0.5rem !important; 
}

*/